.title_container {
  .title_logo {
    font-family: 'HSSanTokki20-Regular';
    font-size: 25px;
    font-weight: 100;
    color: #05153b;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.itemlist_container {
  margin-left: 100px;
}
