.title_container {
  .title_logo {
    font-family: 'HSSanTokki20-Regular';
    font-size: 25px;
    font-weight: 100;
    color: #05153b;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.coupon_left {
  padding-left: 50px;
  padding-right: 50px;
}
.coupon_right {
  padding-left: 50px;
  padding-right: 50px;
}
.coupon_container {
  width: 100%;
}

.coupon_division {
  display: flex;
  flex-direction: column;
}

.input_upload {
  display: flex;
  flex-direction: column;
}

.coupon_upload {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: row;
}

.input_sales {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.item_select_container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;

  .item_select_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    margin-right: auto;
    font-weight: 500;
    background-color: #05153b;
    color: white;
  }
}

.image_upload {
  width: 200px;
  min-width: 200px;
  min-height: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;

  img {
    width: 40px;
    height: 40px;
  }
}

.input_deduct {
  display: flex;
  width: 100%;
  gap: 10px;

  input {
    width: 100%;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
}

.input_upload {
  width: 100%;

  .radio_group {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
  }
  input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    transition: 0.3s;
    outline: none;
    padding-left: 15px;
    &:focus {
      border: 1px solid black;
    }
  }
}

.upload_btn {
  cursor: pointer;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 40px;
  min-height: 40px;
  background-color: #05153b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.coupon_head {
  border-bottom: 1px solid lightgray;
  display: flex;
  text-align: center;
  div {
    flex: 1;
  }
}

.coupon_contents {
  background-color: white;
  line-height: 100px;
  height: 100px;
  border-bottom: 1px solid lightgray;
  display: flex;
  text-align: center;

  div {
    flex: 1;
  }
}

.coupon_description {
  flex: 2 !important;
  text-align: left;
}

.coupon_head {
  color: #05153b;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
}

.coupon_image {
  img {
    height: 100px;
  }
}

.coupon_edit {
  width: 50px;
  height: 50px;

  img {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
}

.coupon_delete {
  img {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
}

.title_sub_logo {
  color: #05153b;
  margin-bottom: 40px;
  font-weight: 500;
}

.image_preview {
  width: 100% !important;
  object-fit: cover;
  height: 100% !important;
}

.coupon_item_select_container_false {
  z-index: -100 !important;
  opacity: 0 !important;
}

.coupon_item_select_container {
  transition: 0.3s;
  opacity: 1;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .coupon_item_select_background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .coupon_item_select_modal {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    width: 90%;
    min-width: 600px;
    border-radius: 5px;

    z-index: 1100;
    height: 500px;
    background-color: white;
  }
}

.coupon_item_select_title {
  margin-top: -30px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.coupon_item_select_items {
  margin-top: 20px;
  height: calc(100% - 100px);
  overflow: auto;
}

.coupon_item_select_search {
  input {
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    width: 200px;
    border: 1px solid lightgray;
    transition: 0.3s;

    &:focus {
      border: 1px solid black;
    }
  }
}

.coupon_item_select_row {
  margin-top: 30px;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}

.coupon_item_select_header {
  border-bottom: 1px solid lightgray;
  display: flex;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;

  div {
    flex: 1;
  }
}

.coupon_item_select_item {
  display: flex;
  height: 100px;
  border-bottom: 1px solid lightgray;
  align-items: center;
  text-align: center;

  div {
    flex: 1;
  }
}

.coupon_item_select_item_name {
  text-align: left;
}

.coupon_item_check {
  img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.coupon_item_select_close {
  position: absolute;
  top: 15px;
  right: 15px;

  img {
    width: 20px;
    cursor: pointer;
    height: 20px;
  }
}

.coupon_item_select_thumbnail {
  height: 100px;
  img {
    height: 100px;
    width: 80px;
    object-fit: cover;
  }
}

.item_select_name {
  margin-top: 20px;
  font-weight: bold;
}
