.image_container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  .image_add {
    min-width: 140px;
    min-height: 140px;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 0px 5px lightgray;

    img {
      width: 30px;
      height: 30px;
    }

    .previewImage {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.upload_container {
  padding-left: 100px;
  width: calc(100% - 232px);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.title_container {
  .title_logo {
    font-family: 'HSSanTokki20-Regular';
    font-size: 25px;
    font-weight: 100;
    color: #05153b;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.item_title_container {
  margin-left: 100px;
  box-sizing: border-box;
  width: calc(100% - 100px - 100px - 140px - 20px);

  .item_row {
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-bottom: 15px;
    div {
      min-width: 100px;
      font-weight: 500;
      width: 100px;
    }

    input {
      font-size: 18px;
      transition: 0.3s;
      padding-left: 15px;
      outline: none;
      border: 1px solid lightgray;
    }

    input:focus {
      border: 1px solid black;
    }
    display: flex;
  }

  input {
    width: 100%;
  }
}

.editor_container {
  width: calc(100% - 100px);
  font-size: 20px;

  div {
    background-color: white;
  }
}

.save_btn {
  margin-top: 30px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #05153b;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 30px !important;
}

.save_btn:hover {
  box-shadow: 0px 0px 5px lightgray;
}
